#intro>.container {
    width: 100%;
    height: 615px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bordered-purple-text {
    width: fit-content;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    color: #8873ef;
}

.intro-content__button {
    width: fit-content;
    background-color: #8873ef;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;

    padding: 10px 20px;
}

.intro-content__button-text {
    color: #fff;
}